<div class="form-background-color">
    <div class="form-container change-password-form">
        <h5 class="form-title">Change Password</h5>

        <form action="/users/<%= current_user["id"] %>/password/edit" method="post">

            <input type="hidden" name="_method" value="put">

            <div class="label-input">
                <label for="password">New Password: </label>
                <input type="password" name="password">
            </div>


            <button class="submit-btn">Change password</button>

        </form>

    </div>
</div>