<div class="form-background-color">
    <div class="form-container in-use-form">

    <h6 class="in-use-txt">Your user name or email already has an account. Please try again.</h5>

    <a href="/new_user" class="submit-btn">Continue</a>

    </div>
</div>