<form action="/posts" method="post">
    <label for="sport">Sport</label>
    <input type="text" name="sport">

    <label for="difficulty">Difficulty</label>
    <input type="text" name="difficulty">

    <label for="location">Location</label>
    <input type="text" name="location">

    <label for="image_url">Image URL</label>
    <input type="text" name="image_url">

    <button>Post</button>

</form>