
<div class="form-background-color">
    <div class="form-container new-post-form">
        <h5 class="form-title">New Post</h5>
        <form action="/posts" method="post" enctype="multipart/form-data">
            <div class="label-input">
                <label for="sport">Sport:</label>
                <input type="text" name="sport">
            </div>

            <div class="label-input">
                <label for="difficulty">Difficulty:</label>
                <input type="text" name="difficulty">
            </div>

            <div class="label-input">
                <label for="location">Location:</label>
                <input type="text" name="location">
            </div>

            <div class="label-input">
                <label for="image_url">Image URL:</label>
                <input type="file" name="image_url">
            </div>

            <button class="submit-btn new-post-submit-btn">Post</button>

        </form>
    </div>
</div>