<form action="/users" method="post">

    <label for="user_name">user_name</label>
    <input type="text" name="user_name">
    <label for="first_name">first_name</label>
    <input type="text" name="first_name">
    <label for="last_name">last_name</label>
    <input type="text" name="last_name">
    <label for="email">email</label>
    <input type="text" name="email">
    <label for="profile_img">profile_img</label>
    <input type="text" name="profile_img">
    <label for="password">password</label>
    <input type="password" name="password">

    <button>Get Started</button>

</form>