<div class="form-background-color">
    <div class="form-container new-user-form">
        <h5 class="form-title">Sign Up</h5>
        <form action="/users" method="post" enctype="multipart/form-data">

        <div class="label-input">
            <label for="user_name">User name: </label>
            <input type="text" name="user_name">
        </div>

        <div class="label-input">
            <label for="first_name">First name: </label>
            <input type="text" name="first_name">
        </div>

        <div class="label-input">
            <label for="last_name">Last name:</label>
            <input type="text" name="last_name">
        </div>

        <div class="label-input">
            <label for="email">Email:</label>
            <input type="text" name="email">
        </div>

        <div class="label-input">
            <label for="profile_img">Profile photo:</label>
            <input type="file" name="profile_img" id="file-upload">
        </div>

        <div class="label-input">
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>

            <button class="submit-btn">Get Started</button>

        </form>

    </div>
</div>